.DS_Store

**/build

**/build_ninja

**/build_make

build_opencv_4.x/*
!build_opencv_4.x/README.md

**/bin/

**/lib/

!v3_link_static_lib/lib
!v4_link_shared_lib/lib

opencv-samples/build-ninja/

**/vcpkg_installed